<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <span><a href="/user">Users</a></span>
    </div>

    <div>
        <form th:action="@{/main}" method="post" enctype="multipart/form-data">
            <input type="text" name="text" placeholder="Enter message">
            <input type="text" name="tag" placeholder="Tag">
            <input type="file" name="file">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Messages</div>

    <form method="get" th:action="@{/main}">
        <input type="text" name="filter" th:value="${filter}?:''">
        <button type="submit">Find</button>
    </form>

    <div th:each="message : ${messages}">
        <b th:text="${message.id}"></b>
        <span th:text="${message.text}"></span>
        <i th:text="${message.tag}"></i>
        <strong th:text="${message.getAuthorName()}"></strong>
        <div th:if="${message.filename != null}">
            <img src="'/img/'+${message.filename}">
        </div>
    </div>
</body>
</html>