<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
 <div>Users</div>
         <table>
             <thead>
             <tr>
                 <th>Name</th>
                 <th>Roles</th>
             </tr>
             </thead>
             <tbody>
             <div th:each="u : ${users}">
                <tr>
                    <td th:text="${u.username}"></td>
                    <td th:each="role : ${u.roles}">
                        <p th:text="${role}" ></p>
                    </td>
                    <td><a th:href="'/user/'+${u.id}">Edit</a></td>
                </tr>
             </div>
             </tbody>
         </table>
</body>
</html>